################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SocketWebIntegration/.vs
/SocketWebIntegration/SocketServer/bin/Debug/netcoreapp2.1
/SocketWebIntegration/SocketServer/obj
/SocketWebIntegration/WebHost/bin/Debug/netcoreapp2.1
/SocketWebIntegration/WebHost/obj
